@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal style */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* header style */
.header {
    background-image: url('/images/banner/banner1.png');
    width: 100%;
    min-height: 808px;
    background-repeat: no-repeat;
}


.header-container {
    text-align: right;
}


.header-item-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    padding-left: 845px;
    padding-top: 216px;
    padding-right: 230px;
    max-width: 525px;
}

.header-item-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-left: 876px;
    padding-right: 230px;
}

.header-item-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    margin-right: 230px;
    margin-top: 50px;
}


/* main section style */

.failure {
    display: flex;
    justify-content: center;
    gap: 105px;
    margin-top: 150px;
    margin-bottom: 130px;
}

.failure-img {
    height: 724px;
    width: 569px;
    display: flex;
}

.img {
    position: absolute;
}

.background-circle {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);

    align-self: self-end;
    margin-left: 22px;
}

.failure-item-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-item-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.failure-item-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-top: 16px;
}

.failure-item {
    margin-top: 370px;
}

/* my plan styles */
.my-plan {
    text-align: center;
    margin: 150px 250px;
}

.my-plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.my-plan-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.my-plan-content-description {
    padding: 20px 20px;
}

.my-plan-content-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.my-plan-content-subtitle {
    color: var(--Dark-03, #737272);
    font-size: 25px;
    font-weight: 500;
}


/* Gradient Image Background */
.rectangle-background {
    margin: 20px auto;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url("/images/watch.png");
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.gradient-image-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 60px 60px;
}

.gradient-image-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 60px;
}


/* footer style  */
footer {
    width: 1600px;
    height: 577px;
    background: #151414;
    margin-top: 130px;
    display: flex;
}

.footer-item {
    margin: 130px 230px;
}

.footer-item-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}


.footer-item-email,
.footer-item-phone,
.footer-item-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.footer-icons {
    display: flex;
    margin-top: 16px;
    gap: 15px;
}

.footer-item input[type="email"] {
    width: 220px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    background-color: #151414;
    padding: 15px 15px;
    margin-top: 20px;
}

.footer-btn {
    width: 140px;
    height: 54px;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}